<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <h1>My TODO Lists</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new Item">
                <button type="submit">Add Item</button>
            </form>
        </div>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
    </body>
</html>