<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <script src="/assets/todo-list.js"></script>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <h1>My TODO Lists</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new Item">
                <button type="submit">Add Item</button>
            </form>
        </div>
        <ul>
            <% for(i=0; i<todos.length; i++) { %>
            <li><%= todos[i].item %></li>
            <% } %>
        </ul>
    </body>
</html>